/* Login and Register Form */
.form-container
{
    background-color: #1D3557;
    display: flex;
    justify-content: center;
}

.form-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.form-box h4
{
    font-weight: bold;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.form-box .form-input
{
    position: relative ;
}

.form-box .form-input input
{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: white;
    padding-left: 45px;
}

.form-box .form-input span
{
    position: absolute;
    top: 8px;
    padding-left: 20px;
    color: #777777;
}

.form-box .form-input input::placeholder
{
    padding-left: 0px;
}

.form-box .form-input input:focus,
.form-box .form-input input:valid
{
    border-bottom: 2px solid #48403d ;
}

.form-box input[type="checkbox"]:not(:checked) + label::before
{
    background: transparent;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
}

.form-box .custom-checkbox .custom-control-input:checked .custom-control-label::before
{
    background-color: #48403d;
    border: 0px;
}

.register-link
{
    color: #F1FAEE;
    font-weight: bold;

}

.register-link:hover
{
    color: #E63946;
    text-decoration: none;
}

.form-box button[type="submit"]
{
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-right: 5px;
  color: #000000;
  font-weight: bold;
  transition: 0.5s;
}

.form-box button[type="submit"]:hover
{
    box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
    background-color: #A8DADC;
}