{% from "chart.html" import chart %}
{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}


{% block main %}  
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<div id="main" onclick="closeSlideMenu();">
      
    <h1 class="text-center">Hello, {{user}}! &#128516 </h1>
      
    <br>
  
    <div class="card-columns container"><!-- Card-columns start -->
          
      <div class="col"><!--Col Start-->
          
        <div class="card bg-success text-white"><!--Balance Card-->
          <div class="card-header text-center">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#balance">
              <span class="text-center" style="font-size: 28px;">Balance</span>
            </button>
          </div>
          <div class="card-body">
            <p class="card-text text-center">
              {{info['balance']}}
            </p>
          </div>    
        </div>
  
        <div class="card bg-primary"><!--Bills Card-->
          <div class="card-header text-center">
            <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#bills">
              <span class="text-center" style="font-size: 28px;">Bills</span>
            </button>
          </div>
          <div class="card-body">
            <p class="card-text text-center">
              {{info['bills']}}
            </p>
          </div>
        </div>
  
      </div> <!--End of Col-->
      
  
      <div class="col" id="middle"><!--Start Col-->
   
        <div class="card bg-danger text-white"><!--Food Card-->
          <div class="card-header text-center">
            <button type="button" class="btn btn-danger text-center" data-toggle="modal" data-target="#food">
              <span class="text-center" style="font-size: 28px;">Food</span>
            </button>
          </div>
          <div class="card-body">
            <p class="card-text text-center">
              {{info['food']}}
            </p>
          </div>
        </div>
      
        <div class="card bg-warning text-white"><!--Shopping Card-->
          <div class="card-header text-center">
            <button type="button" class="btn btn-warning text-center" data-toggle="modal" data-target="#shopping">
              <span class="text-center" style="font-size: 28px;">Shopping</span>
            </button>
          </div>
          <div class="card-body">
            <p class="card-text text-center">
              {{info['shopping']}}
            </p>
          </div>
        </div>
  
      </div> <!--End of Col-->
  
      <div class="col"><!--Start Col-->
      
        <div class="card bg-info text-white"><!--Savings Card-->
          <div class="card-header text-center ">
            <button type="button" class="btn btn-info text-center" data-toggle="modal" data-target="#savings">
              <span class="text-center" style="font-size: 28px;">Savings</span>
            </button>
          </div>
          <div class="card-body">
            <p class="card-text text-center">
              {{info['savings']}}
            </p>
          </div>
        </div>
  
        <div class="card bg-secondary text-white"><!--Other Card-->
          <div class="card-header text-center">
            <button type="button" class="btn btn-secondary text-center" data-toggle="modal" data-target="#other">
              <span class="text-center" style="font-size: 28px;">Other</span>
            </button>
          </div>
          <div class="card-body">
            <p class="card-text text-center">
              {{info['other']}}
            </p>
          </div>
        </div>
        
        </div><!--End of Col-->
      
    </div><!--End of Card-columns-->

  <!-- Pop-ups -->
  
  <!--Modal for Balance-->
  <div class="modal fade" id="balance" tabindex="-1" role="dialog" aria-labelledby="Balance Info" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Balance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <canvas id="balance_chart" width="400" height="300"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--Balance end-->
  
  <!--Modal for Bills-->
  <div class="modal fade" id="bills" tabindex="-1" role="dialog" aria-labelledby="Bills Info" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bills</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <canvas id="bills_chart" width="400" height="300"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--Bills end-->
  
  <!--Modal for Food-->
  <div class="modal fade" id="food" tabindex="-1" role="dialog" aria-labelledby="Food Info" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Food</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <canvas id="food_chart" width="400" height="300"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--Food end-->
  
  <!--Modal for Shopping-->
  <div class="modal fade" id="shopping" tabindex="-1" role="dialog" aria-labelledby="Shopping Info" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Shopping</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <canvas id="shopping_chart" width="400" height="300"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--Shopping end-->
  
  <!--Modal for Other-->
  <div class="modal fade" id="other" tabindex="-1" role="dialog" aria-labelledby="Other Info" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Other</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <canvas id="other_chart" width="400" height="300"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--Other end-->
  
  <!--Modal for Savings-->
  <div class="modal fade" id="savings" tabindex="-1" role="dialog" aria-labelledby="Savings Info" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Savings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <canvas id="savings_chart" width="400" height="300"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    const charts = {{ charts_data | tojson }};
    for (const chart in charts) {
        if (charts[chart][0]) {
            labels = charts[chart][0].slice(-5);
            data = charts[chart][1].slice(-5);
        } else {
            labels = [];
            data = [];
        }
        var ctx = document.getElementById(chart).getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Trends for last 5 transactions',
                    data: data,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }
  </script>
  <!--Savings end-->

{% endblock %}
