{% extends "layout.html" %}

{% block title %} Settings {% endblock %}

{% block main %}
<div onclick="closeSlideMenu();"> <!--Main Div-->

  <div class="container">
    
    <!--Change password possible errors-->
    {%if invcur%}
    <br>
    <h4 style="color: rgb(255, 103, 1); text-align: center;">{{invcur}}</h4>
    {%endif%}

    {%if invnew%}
      <br>
      <h4 style="color: rgb(255, 103, 1); text-align: center;">{{invnew}}</h4>
    {%endif%}

    {%if invconf%}
      <br>
      <h4 style="color: rgb(255, 103, 1); text-align: center;">{{invconf}}</h4>
    {%endif%}

    <!--Confirmation if a new Password is saved-->
    {%if savedpass%}
      <h4 style="color: #90e0ef; margin-top: 10px; text-align: center;">{{savedpass}}</h4>
    {%endif%}

    <div class="col d-flex justify-content-center align-items-center mt-auto">
      
      <!--Start of Currency Form-->
      <form action="/settings" method = "POST"> 
        <div class="form-group" id="currency-box">
          <h3 class="text-center card-header mb-4">
            Select the currency you use the most
          </h3>
          
          <select name="currency" id="currency" class="custom-select" required>
            {% if currency == "$" %}
              <option value="USD" disabled>Current: United States Dollar</option>
            {%else%}
              <option value="USD">United States Dollar</option>
            {%endif%}

            {% if currency == "€" %}
              <option value="EUR" disabled>Current: Euro</option>
            {%else%}
              <option value="EUR">Euro</option>
            {%endif%}

            {% if currency == "₹" %}
              <option value="IR" disabled>Current: Indian Rupee</option>
            {% else %}
              <option value="IR">Indian Rupee</option>
            {% endif %}

            {% if currency == "R$" %}
              <option value="BR" disabled>Current: Brazillian Real</option>
            {%else%}
              <option value="BR">Brazillian Real</option>
            {% endif %}
              
            {% if currency == "K" %}
              <option value="BMK" disabled>Current: Burmese Kyat</option>
            {%else%}
              <option value="BMK">Burmese Kyat</option>
            {%endif%} 
          </select>

          <div class="text-left mb-3">
            <button type="submit" class="btn text-center input-confirmation">
                <span class="text-center">Save Changes</span>
            </button>
            
            {%if saved%}
              <br>
              <h4 style="color: #90e0ef; margin-top: 10px; text-align: center;">{{saved}}</h4>
            {%endif%}

          </div>
        </div>
      </form>   
    </div>
  </div>

  <div class="container">
    <div class="col d-flex justify-content-center align-items-center mt-auto">
      <!--Start of Change Password Form-->
      <form action="/settings" method = "POST"> 
          
        <div class="form-group" id="password-box">
          <h3 class="card-header text-center mb-4">
            Change your Password
          </h3>
          
          <div class="text-left mb-3">
            
            <div class="form-input">
              <label class="input-password text-center" for="current">Enter your current password</label>
              <input id="current" minlength="8" maxlength="30" type="password" name="current" placeholder="Current Password"
              class="form-control text-center input-change" required>
            </div>
              
              <br>
            
            <div class="input-password">
              <label class="input-password text-center" for="new">Enter your new password</label>
                <input id="new" type="password" minlength="8" maxlength="30"
                class="form-control text-center input-change" name="password" placeholder="New password" required>
            </div>
              
            <br>
                
            <div class="input-password">
              <label class="input-password text-center" for="confirmationpw">Confirm your new password</label>
              <input id="confirmationpw" type="password" minlength="8" maxlength="30"
              class="form-control text-center input-change" name="confirmation" placeholder="Confirm your new password" required>
            </div>

            <div class="input-password">
              <button type="submit" class="btn text-center input-confirmation">
                <span class="text-center">Change your Password</span>
              </button>
            </div>

          </div>
        </div>
      </form>   
    </div>
  </div>
</div><!--End of Main Div-->
  
{% endblock %}